body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #800248, #5f02fc  );
    font-family: sans-serif;
    font-size: 15px;
}
.container{
    max-width: 700px;
    width: 100%;
    background: whitesmoke;
    padding: 25px;
    border-radius: 10px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #800248, #5f02fc  );
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 17px;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px ;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #5f02fc ;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 20px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot{
    height: 7px;
    width: 7px;
    background-color: darkgrey;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
    border-color: darkgrey ;
    background: magenta;
    transition: 0.3s;
}
form input[type="radio"]{
    display: none;
}
form .Hobby-details .Hobby-title{
    font-size: 20px;
    font-weight: 500;
}
form .Hobby-details .category{
    display: flex;
    width: 80%;
    margin: 20px 0;
    justify-content: space-between;
}
.Hobby-details .category label{
    display:flex;
    align-items: center;
}
.Hobby-details .category .dot{
    height: 7px;
    width: 7px;
    background-color: darkgrey;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}
textarea {
    resize: none;
    max-width: 100%;
}
.Text-title {
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0 0 0;
    /* margin-left: 2px;
    margin-right: 2px; */
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #800248, #5f02fc  );
}
form .button input:hover{
    background: linear-gradient(-135deg, #800248, #5f02fc  );
}
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%
    }
    form .gender-details .category{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}

#button-1:hover {
    /* display: none; */
    margin-left: 350px;
}